@import "../colourPalette/colours";

$site-main-highlight-color: #DD1021;
$site-main-highlight-inner-color: #FFF;

$site-main-font: "Helvetica Neue",Helvetica,Arial,sans-serif; // Headings
$site-alt-font: Georgia, "Times New Roman", Times, serif; // Body

$link-colour: $site-main-highlight-color;
$link-colour-hover: #B00512;